/* for the menu buttons */
.container button{
    width:300px;
    height: 100px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    background-color: #6095f0;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    margin-bottom: 30px;
    box-shadow: 1px 1.5px black;
}
.container {
    align-items: center;
    border-radius: 15px;
    height: 200px;
    width: 430px;
    position:absolute;
    top:250px;
    right: -50px;
}
.settings {
    position:absolute;
    right: 720px;
    top: 90px;
    display: none;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    position: fixed;
    border: 3px solid #f1f1f1;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #485057;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    border: 3px solid black;
    color: white;
    border-radius: 14px;
  }

.form-container button{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

.profile {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    font-size: 20px;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
    width: 430px;
    height: 200px;
    position: absolute;
    background-color: #485057;
    top: 20px;
    right: 7px;
}

.popup {
    position: absolute;
    top: 30px;
    right: 20px;
    color:white;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }
#tempmsg {
    position:absolute;
    top:30px;
    right:100px;
}
.popup button:hover {
    background-color: #ddd;
  }

.popupbutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    border: 3px solid black;
    border-radius: 15px;
  }

/* for the adding workout page */
.workout_buttons{
    text-align: center;
}
.workout_buttons #body_part{
    font-size: 40px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

#entirepage {
    width:450px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    border-radius: 40px;
    background-image: linear-gradient(black, 0.5%,#97A9B4);
    position: relative;
  }

 