
/* for the menu buttons */


.container button{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    display: block;
}

/* these two just fills entire page up*/
body, html {
    height:100%;
}

#menu-buttons{
    height: 90%;
}

section {
    border: 10px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* for the adding workout page */
.workout_buttons{
    text-align: center;
}
.workout_buttons #body_part{
    font-size: 40px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}
