/*
  Cynthia Sheng
*/
body {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  #entirepage {
    width:450px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    border-radius: 40px;
    background-color: #97A9B4;
    position: relative;
  }
  .titleheading {
      font-family: "Open Sans", sans-serif;
      color: white;
      text-align: center;
      text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
      text-decoration: underline;
  }

  button {
    width:125px;
    height: 40px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: #97A9B4;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    margin-left: auto;
    margin-right: auto;
  }

  button:hover{
    background-color: #6095f0;
  }

  button:focus{
    background-color: #6095f0;
  }

  h1{
      text-align: center;
  }
  .graphOptions{
    text-align: center;
    background-color: #485057;
    border: 1px solid #485057;
  }
  
  #optionTable {
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    height:60px; 
    width: 430px;
    display: inline-table;
    }
  
  .displayGraph{
    height:300px;
    background-color: #485057;
    padding: 2px;
  }
  img{
    width: 445px;
    height: 100%;
  }
  #calorieGraph{
    display: none;
  }
  #calorieStat{
    display: none;
  }
  #macroChart{
      display: none;
    }
  #macroStat{
    display:none;
  }
  
  table, th, td {
    padding: 8px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  
  th {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
  }
  
  td {
    font-size: 22px;
    color: white;
    height: 30px;
    width: 430px;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-align: center;
  }

  .displayStat{
    bottom: 100px;
    align-items: center;
    overflow-y: auto;
  }
  #weightStat tr{
    border-bottom: 2px solid #485057;
    display: inline-table;
  }
  #calorieStat tr{
    border-bottom: 2px solid #485057;
    display: inline-table;
  }
  #macroStat tr{
    border-bottom: 2px solid #485057;
    display: inline-table;
  }

  #weightStat tr:last-child{
    border-bottom: none;
  }

  #calorieStat tr:last-child{
    border-bottom: none;
  }

  #macroStat tr:last-child{
    border-bottom: none;
  }
  .homeicon {
    position: absolute;
    top: 10px;
    right: 15px;
    color:white;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
  }
  
  .homebutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #97A9B4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Open Sans", sans-serif;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Open Sans", sans-serif;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
                      #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .homeicon:hover .dropdown-content {
    display: block;
  }
  
  .homeicon:hover .homebutton {
    background-color: transparent;
  }
  
  .navbar {
    border:3px solid black;
    border-left: 0px solid;
    border-right: 0px solid;
    border-radius: 0px 0px 33px 33px;
    position: absolute;
    top:745px;
    background-color: #6095f0;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    width: 450px;
    height: 50px;
    overflow: hidden;
    align-items: center;
  }
  
  .navbar a{
    border-right: 0.5px solid black;
    float: left;
    color: white;
    text-align: center;
    padding: 3px 15.4px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
                      #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    width: 18%;
  }
  
  .navbar a:last-child{ 
    border-right: none;  
 }
  .navbar a:hover {
    background-color: #ddd;
  }