body {
  /*
    background-color: #60ddf0;
    */
  }

#entirepage {
    width:450px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    background-color: #60ddf0;
    border-radius: 40px;
  }

.titleheading {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-decoration: underline;
}

.userinput {
  position: 'relative';
  margin-top: 400px;
}

.userinput fieldset {
  border: 3px solid #000;
}

.userinput input{
    width: 20%;
    border: 2px solid #000;
    border-radius: 5px;
}
.calorielabel {
  float:right;
  width:200px;
}
.calorielabel input {
  width: 50%;
  border: 2px solid #000;
  border-radius: 5px;
}


