/*
  Thomas Le
*/
body {
  margin-left: auto;
  margin-right: auto;
}
#entirepage {
    width:450px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    border-radius: 40px;
    background-image: linear-gradient(#60ddf0, #60f0bb);
    position: relative;
  }

.titleheading {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-decoration: underline;
}

.userinput {
  font-family: "Open Sans", sans-serif;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.userinput fieldset {
  border: 3px solid #000;
  font-weight: bold;
  border-radius: 15px;
  padding-top: 20px;
  width: 415px;
  
  position: absolute;
  bottom: 90px;
  right: 0px;
}

.userinput input{
    width: 20%;
    border: 2px solid #000;
    border-radius: 5px;
}
.calorielabel {
  float:right;
  width:200px;
  
}
.calorielabel input {
  width: 50%;
  border: 2px solid #000;
  border-radius: 5px;
}

.nutrition{
  width: 40%;
  border-radius: 5px;
  white-space: nowrap;
  padding-bottom: 10px;
}

.nutrition input {
  display: inline-block;
  padding-right: 15px;
}

.addbutton {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -95px;
  margin-top: 340px;
  width: 130px;
  height: 40px;
  text-align: center;
}

#button {
  width:200px;
  height: 40px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
  background-color:#6095f0;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  height:350px; 
  width: 430px;
  overflow-y:scroll; 
  display:block;
  overflow: auto;
  border-radius: 5px;
}

table, th, td {
  border: 3px solid black;
  padding: 5px;
}

th {
  font-size: 20px;
  font-weight: bold;
}

td {
    font-size: 15px;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}

.homeicon {
  color:black;
  position: absolute;
  top: 20px;
  right: 20px;
}

#homebutton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.resetbutton {
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -200px;
  margin-top: 80px;
  text-align: center;
}

#reset {
  width:150px;
  height: 30px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  margin-left: auto;
  margin-right: auto;
}
