body {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
#entirepage {
    width:450px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    border-radius: 40px;
    background-image: linear-gradient(black, 0.5%,#97A9B4);
    position: relative;
  }
  
.titleheading {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-decoration: underline;
}

.userinput {
  font-family: "Open Sans", sans-serif;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.userinput {
  font-family: "Open Sans", sans-serif;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}

.userinput fieldset {
  border: 3px solid rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 15px;
  padding-top: 20px;
  width: 415px;
  height: 150px;
  color:white;
  position: absolute;
  bottom: 170px;
  right: 0px;
  font-size: 18px;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}

.userinput input{
    width: 20%;
    border: 2px solid #000;
    border-radius: 5px;
}

  #button {
    width:200px;
    height: 40px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #6095f0;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #optionTable {
    border-collapse: collapse;
    margin: 50px auto;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    height:60px; 
    width: 430px;
    display:block;
    }
    
    #month{
      display: none;
  }
  #displayStat{
    display: none;
}
  #macroChart{
      display: none;
    }
#macroStat{
    display:none;
}
  
  table, th, td {
    padding: 8px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  
  th {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
  }
  
  td {
      font-size: 22px;
      color: white;
      height: 30px;
      width: 430px;
      text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-align: center;
  }

  .displayStat{
    position: relative;
    bottom: 38px;
    align-items: center;
  }
  #weightStat td{
      border: 2px solid black;
  }
  #calorieStat td{
    border: 2px solid black;
}
#macroStat td{
    border: 2px solid black;
}

  .displayGraph{
    margin: 50px auto;
    border: 3px solid black;
    height:230px;
    width: 400px;
  }

  
  .homeicon {
    color:black;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  #homebutton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  .option {
    width:120px;
    height: 40px;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #6095f0;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .option:focus{
      background-color: #0e4bb4;
  }

  h1{
      text-align: center;
  }
  
  
  
  /* Month header */
.month {
  /*padding: 70px 25px;*/
  width: 100%;
  background: #485057;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #485057;
  color: white !important
}
