#checklist li {
    list-style-type: none;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    
}
ul{
  width:450px;
}
#task-number{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-decoration: underline;
}
#checklist{
    position: absolute;
    right: 0%;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
section{
    align-items: center;
    text-align: center;
    justify-content: center;
}

input[type='checkbox'] {
  
  width:30px;
  height:30px;
  background:white;

}
.homeicon {
    position: absolute;
    top: 10px;
    right: 5%;
    color:white;
}
  
#homebutton {
    position: fixed;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #97A9B4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Open Sans", sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Open Sans", sans-serif;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
                      #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .homeicon:hover .dropdown-content {
    display: block;
}
  
  .homeicon:hover .homebutton {
    background-color: transparent;
}

#complete_button{
  position: absolute;
  left: 50%;
  height:50px;
  width: 100%;
  bottom: 3.5%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}


body {
    margin-left: auto;
    margin-right: auto;
  }
  #entirepage {
      width:450px;
      height: 850px;
      margin-left: auto;
      margin-right: auto;
      border: 7px solid black;
      border-radius: 40px;
      background-image: linear-gradient(black, 0.5%,#97A9B4);
      position: relative;
    }

.navbar {
    border:3px solid black;
    position: absolute;
    top:795px;
    right: -3px;
    background-color: #6095f0;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    width: 450px;
    height: 50px;
    border-radius: 0px 0px 33px 33px;
    overflow: hidden;
  }
  
  .navbar a{
    border-right: 0.5px solid black;
    float: left;
    color: white;
    text-align: center;
    padding: 3px 15.4px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
                      #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }
  