
#five{
    height: 900px;
    background-image: linear-gradient(black, 0.5%,#97A9B4);
}

#entirepage {
    width:450px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid black;
    border-radius: 40px;
    background-image: linear-gradient(black, 0.5%,#97A9B4);
    position: relative;
  }

a {
    text-decoration: none;
}
button {
    box-shadow: 1px 1.5px black;
}
.homeicon {
    position: absolute;
    top: 10px;
    right: 5%;
    color:white;
}
  
#homebutton {
    position: fixed;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #97A9B4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Open Sans", sans-serif;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Open Sans", sans-serif;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
                      #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .homeicon:hover .dropdown-content {
    display: block;
}
  
  .homeicon:hover .homebutton {
    background-color: transparent;
}


h1, #mycurrworkout{
    font-family: "Open Sans", sans-serif;
    color: white;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    text-decoration: underline;
}
#mycurrworkout{
    font-size: 20px;
}
input{
   font-family: "Open Sans", sans-serif;
    border: 3px solid rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 15px;
}

.navbar {
    border:3px solid black;
    position: absolute;
    top:795px;
    right: -3px;
    background-color: #6095f0;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    width: 450px;
    height: 50px;
    border-radius: 0px 0px 33px 33px;
    overflow: hidden;
  }

.navbar a{
    border-right: 0.5px solid black;
    float: left;
    color: white;
    text-align: center;
    padding: 3px 20.7px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
                      #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }

/* for the workout-plan menu buttons */
.container button{
    position: relative;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 8px;
    width: 100%;
    left: 20px;
    display: block;
}

.container #auto{
    width: 120%;
    font-size: 33px;
}

#layout{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: 50px;
}


/* for the adding workout page */
.workout_buttons{
    text-align: center;
}

table button{
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  font-size: 12px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.workout_buttons .body_part{
    border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
    font-size: 40px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

#header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

/* for the add_workout to only display workouts that are clicked */
section{
    border-radius: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

section:target {
    display: block;
    text-align: center;
    position: relative;
  }

/*searching workout*/
.search-box{
    text-align: center;

    /*
    opacity: 0;
    pointer-events: none;
    */
}

.search-box input{
    width: 50%;
    font-size:18px;
    text-align: center;
}
select{
    width: 20%;
    text-align: center;
}

.workouts {
    width: 20%;
}
p{
    display: inline;
}

/*add button in add workout*/
#add_button{
    text-align: center;
} 
#add_txt{
  position: fixed;
  left: 50%;
  height:50px;
  width: 20%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}

#createe{
    border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #6095f0;
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}

datalist {
    display: block;
}


input{
    width: 50%;
    text-align: center;
}


/*for my workout*/
.myContainer{
    position: relative;
}

.createWorkout{
    position: absolute;
    display: inline;
    left: 20%;
}

ul li{
    text-align: left;
    position: relative;
    margin: 5px 0;
    list-style-type: none;
}

ul li button{
    position: absolute;
    right: 0%;
}
